@import '@angular/cdk/overlay-prebuilt.css';


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



[tuiRipple] {
  position: relative;
  user-select: none;
  overflow: hidden;
}

.mb32 {
  margin-bottom: 2rem;
}
